<% provide(:title, "Help") %>
<h1>Help</h1>
<h2>
  Visit the <a href="http://www.railstutorial.org/#help">Help</a>
  section of the Ruby on Rails Tutorial
  <a href="http://www.railstutorial.org">website</a> for additional assistance.
</h2>
